.btn {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @minor;
  text-align: center;
  background-color: @light;
  border: 2px solid @minor;
}