.btn {
  display: block;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @minor;
  text-align: center;
  text-transform: uppercase;
  background-color: @light;
  border: 2px solid @minor;

  &--color-tiffany {
    width: 100%;
    color: @light;
    background-color: @green;
    border-color: @green;
  }

  &:hover,
  &:focus {
  color: @light;
  border-color: @minor;
  background-color: @minor;
  outline: none;
  }

  &:active {
  color: @light03;
  }

  &--size-value {
    width: 78px;
    border-color: @gray;
  }

  &--size-value:hover,
  &--size-value:focus {
    color: @minor;
    background-color: @light;
    border-color: fade(@minor, 30%);
  }

  &--size-value:checked,
  &--size-value:active {
    color: @minor;
    background-color: @light;
    border-color: @green;
  }
}

@media @tablet-widths {
  .btn {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
