@media @desktop-widths {
  .catalog {

    &__layout {
      display: flex;
      flex-wrap: wrap;
    }

    &__one {
      width: 314px;
      margin-right: 51px;
    }

    &__one:nth-child(3n) {
      margin-right: 0;
    }
  }
}


