.catalog-item {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  color: @main;
  background-color: @light;
  border: 1px solid #cecece;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 @main01;
  }

  &:active {
    box-shadow: 0 3px 5px 0 @main01;
  }

  &__link {
    display: block;
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #cecece;
  }

  &__link--review {
    //width: 258px;
    //height:194px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    line-height: 0;
  }

  &__wrapper {
    margin: 0 10.345%;
    outline: 1px solid pink;
  }

  &__title {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: @main;
    .hover-active();
  }

  &__discr {
    margin: 0;
    padding-bottom: 22px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: @minor;
  }
}

.catalog-item__price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 24px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @main;

  & path {
    fill-opacity: 0.2;
  }

  &:focus path,
  &:hover path {
    fill-opacity: 1;
    fill: @green;
  }

  &:active path {
    fill: @green;
    fill-opacity: 0.3;
  }
}

@media @tablet-widths {
  .catalog-item {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;

    &__link {
      border: none;
    }

    &__link--review {
      align-self: center;
      width: 50%;
      //height: 332px;
      margin: 0;
      overflow: hidden;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      width: 41.12%;
      margin: 0 4.94%;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__discr {
      font-size: 15px;
      line-height: 30px;
    }

    &__price {
      width: 100%;
      font-size: 17px;
      line-height: 24px;
      border-top: 1px solid #cecece;
    }
  }
}

@media @desktop-widths {
  .catalog-item {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;

    &:nth-child(n+4) {
      margin-top: 55px;
    }

    &__link--review {
      width: 314px;
      height: 461px; /*пока высоту оставим так*/
    }

    &__wrapper {
      flex-grow: 1;
      width: 252px;
      margin: 0 28px;
      border-top: 1px solid #cecece;
    }

    &__title {
      padding-bottom: 3px;
    }

    &__discr {
      padding-bottom: 15px;
    }

    &__price {
      width: 100%;
    }
  }
}
