.charter {
  padding-top: 33px;
  padding-bottom: 35px;
  
  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: @main;
    background-color: @light;
  }

  &__title--contacts {
    font-size: 18px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: @green;
    white-space: nowrap;
    background-color: @light;
  }
}