.features {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    display: block;
    flex-basis: 255px;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    padding-top: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: @main;
    background-color: @light;
    background-repeat: no-repeat;
    background-position: 0 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
    }

    &--flower::before {
      top: 4px;
      left: 8px;
      background-image: url("../img/icon-feature-1.svg");
    }

    &--money::before {
      top: 6px;
      left: 0;
      background-image: url("../img/icon-feature-3.svg");
    }

    &--heart::before {
      top: 12px;
      left: 8px;
      background-image: url("../img/icon-feature-5.svg");
    }

    &--ball::before {
      top: 9px;
      left: 3px;
      background-image: url("../img/icon-feature-2.svg");
    }

    &--rocket::before {
      top: 12px;
      left: -6px;
      background-image: url("../img/icon-feature-4.svg");
    }

    &--gift::before {
      top: 12px;
      left: 3px;
      background-image: url("../img/icon-feature-6.svg");
    }
  }

  &__item:nth-child(2n) {
    order: 1;
  }
}

@media @tablet-widths {
  .features {
    margin-top: 68px;

    &__list {
      max-width: 700px;
      margin-top: 41px;
    }

    &__item {
      margin-bottom: 53px;
      padding-right: 66px;
      font-size: 20px;
      line-height: 22px;
    }

    &__item:nth-child(2n) {
      order: 0;
      flex-basis: 300px;
      padding-right: 30px;
    }
  }
}

@media @desktop-widths {
  .features {

    &__list {
      margin-left: 175px;
    }
  }
}
