.form-knitting {
  margin-bottom: 53px;

  &__discr {
    .container();
    margin-top: -7px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: @minor;
    background-color: @light;
  }

  &__section {
    .container();
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    margin-bottom: 19px;
    border: none;
  }

  &__block-legend {
    margin-bottom: 19px;
  }

  &__block-legend::before{
    position: relative;
    top: 15px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: @green;
    z-index: 1;
  }

  &__legend {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 62px;
    max-width: 200px;
    margin: 0;
    padding-right: 24px;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: @green;
    background-color: @light;
    z-index: 2;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;
    font-size: 0;
    line-height: 0;
  }

  &__hidden {
    display: none;
  }

  &__choice {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 64px;
    padding-right: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: @main;
    cursor: pointer;
  }

  &__item:first-child &__choice {
    margin-top: 0;
  }

  &__choice--radio {
    margin-top: 4px;
  }

  &__choice::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid @minor;
  }

  &__choice--radio::before {
    border-radius: 50%;
  }

  &__item:hover &__choice::before,
  &__item:focus &__choice::before {
    border-color: @green;
  }

  &__item:active &__choice::before {
    border-color: #c7c7c7;
  }

  &__hidden:checked + &__choice::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 8px;
    display: block;
    width: 23px;
    height: 16px;
    background: url("../img/icon-tick.svg") no-repeat center/cover;
  }

  &__hidden:checked + &__choice--radio::after {
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background: @green;
    border-radius: 50%;
  }

  &__label {
    display: block;
    margin: 0;
    margin-top: 7px;
    margin-bottom: 21px;
    padding: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: @main;
    background-color: @light;
  }

  &__item--info:last-child &__label {
    margin-bottom: 0;
  }

  &__customer-info {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-width: 260px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    vertical-align: middle;
    color: @minor;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid @main;

    &:hover,
    &:focus,
    &:active {
      border-color: @green;
      outline: none;
    }
  }

  &__customer-info--phone {
    padding-top: 3px;
    padding-right: 40px;
  }

  &__customer-info--email {
    padding-top: 3px;
    padding-right: 40px;
  }

  &__customer-info--phone + &__icon {
    position: absolute;
    right: 8px;
    bottom: 17px;
    width: 25px;
    height: 25px;
    fill-opacity: 0.2;
  }

  &__customer-info--email + &__icon {
    position: absolute;
    right: 4px;
    bottom: 13px;
    width: 32px;
    height: 32px;
    fill-opacity: 0.2;
  }

  &__customer-info:hover + &__icon path,
  &__customer-info:focus + &__icon path,
  &__customer-info:active + &__icon path {
    fill-opacity: 1;
    fill: @green;
  }

  &__customer-info--comment {
    padding: 15px;
    border: 2px solid @minor;
  }

  &__footer {
    .container();
    justify-content: space-between;
  }

  &__footnote {
    display: block;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: @minor;
  }

  &__btn {
    width: 100%;
  }
}

@media @tablet-widths {
  .form-knitting {

    &__discr {
      margin-top: -5px;
      margin-bottom: 4px;
      font-size: 17px;
      line-height: 30px;
    }

    &__container {
      padding-top: 39px;
      padding-bottom: 39px;
    }

    &__container:nth-child(2n+1) {
      background-color: @gray;
    }

    &__section {
      flex-direction: row;
    }

    &__section:nth-child(even) {
      margin-bottom: 8px;
      margin-top: 8px;
    }

    &__block-legend {
      margin-bottom: 0;
    }

    &__block-legend::before {
      content: none;
    }

    &__legend {
      padding-top: 29px;
      padding-bottom: 22px;
      width: 167px;
      background-color: transparent;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item--info {
      width: 100%;
    }

    &__choice {
      box-sizing: border-box;
      min-width: 240px;
      margin-top: 13px;
      margin-bottom: 13px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 80px;
      font-size: 19px;
      line-height: 19px;
    }

    &__item:first-child &__choice {
      margin-top: 13px;
      margin-bottom: 13px;
    }

    &__choice--radio {
      margin-top: 13px;
      margin-bottom: 13px;
    }

    &__choice::before {
      width: 50px;
      height: 50px;
    }


    &__hidden:checked + &__choice::after {
      top: 18px;
      left: 11px;
      width: 33px;
      height: 22px;
    }

    &__hidden:checked + &__choice--radio::after {
      width: 20px;
      height: 20px;
      top: 17px;
      left: 17px;
    }

    &__label {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 9px;
      font-size: 19px;
      line-height: 19px;
    }

    &__item--info:last-child &__label {
      margin-bottom: 9px;
    }

    &__customer-info {
      padding-left: 17px;
      font-size: 19px;
    }

    &__item--info &__customer-info {
      margin-left: 26px;
    }

    &__customer-info--phone,
    &__customer-info--email {
      background-position: right 22px center;
      padding-bottom: 0;
      padding-right: 60px;
    }

    &__customer-info--phone + &__icon {
      right: 24px;
      bottom: 22px;
    }

    &__customer-info--email + &__icon {
      right: 22px;
      bottom: 8px;
    }

    &__customer-info--comment {
      margin-top: 10px;
      margin-bottom: 13px;
    }

    &__footer {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }

    &__footnote {
      margin-bottom: 0;
      font-size: 17px;
      line-height: 30px;
    }

    &__btn {
      order: -1;
      width: 230px;
      margin: 0;
    }
  }
}

@media @desktop-widths {
  .form-knitting {

    &__discr {
      width: 700px;
      margin-top: 0;
    }

    &__container {
      padding-bottom: 38px;
    }

    &__list {
      justify-content: flex-start;
    }

    &__choice {
      width: 264px;
    }

    &__legend {
      width: 175px;
      padding-right: 0;
      padding-left: 63px;
    }

    &__choice--radio,
    &__item--info,
    &__customer-info--phone,
    &__customer-info--email,
    &__customer-info--comment {
      width: 700px;
    }

    &__customer-info--phone + &__icon {
      right: 183px;
    }

    &__customer-info--email + &__icon {
      right: 179px;
    }

    &__footer {
      width: 700px;
    }
  }
}
