.main-nav {
  position: relative;
  width: auto;

  &__button {
    position: absolute;
    top: -50px;
    right: 9.375%;
  }

  &__list,
  &__user {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid green;
  }

  &__item {
    font-size: 0;
    line-height: 0;
  }

  &__link {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: @main;
    background-color: @light;
  }

  &__item:hover a[href],
  &__item:focus a[href] {
    opacity: 0.6;
  }

  &__item:active a[href] {
    opacity: 0.3;
  }
}

@media @tablet-widths {
  .main-nav {

    &__wrapper {
      .container();
    }

    &__button {
      display: none;
    }
  }
}
