.modal-content {
  padding-top: 38px;
  padding-bottom: 47px;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: @main;
    background-color: @light;
  }
}
