.page-promo {
  padding: 0;
  
  &__link {
    font-size: 20px;
    line-height: 30px;
  }

  &__link--icon-lamp {
    color: @light;
    background-color: @green;
  }
   &__link--icon-brick {
    color: @light;
    background-color: @green-sec;
  }
}