.page-footer {
  padding: 24px 0;
  color: @main;
  background-color: @gray;

  &__social {
    padding: 0;
    list-style: none;
  }

  &__copyright {
    display: block;
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    text-align: center;
    color: @main;
    background-color: @gray;
  }

  &__cooryright-logo {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 35px;
    margin-left: 30px;
    background-color: @gray;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
  }

  &__cooryright-logo:active {
    opacity: 0.3;
  }
}
