.page-promo {
  padding: 0;
  margin-bottom:35px;

  &__wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-size: 0;
    line-height: 0;
  }

  &__link {
    display: block;
    padding: 28px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  &__link--icon-lamp {
    color: @light;
    background-color: @green;
  }

  &__link--icon-brick {
    color: @light;
    background-color: @green-sec;
  }

  &__link--icon-lamp:active,
  &__link--icon-brick:active {
    color: @light03;
  }
}
