.reviews {
  position: relative;
  background-color: @light;
  margin-bottom: 35px;
  padding-bottom: 51px;

  &__btns-layout {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__btn {
    height: 50px;
    width: 128px;
    margin: 0;
    padding: 0;
    background-color: @light;
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    .hover-active();
  }

  &__btn--prev {
    transform: scaleX(-1);
  }

  &__feedback {
    font-size: 18px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
  }
}

@media @tablet-widths {
  .reviews {
    position: relative;
    margin-bottom: 45px;
    padding-bottom: 84px;
    background-color: @light;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    &__wrapper {
      position: relative;
      padding-top: 76px;
      padding-bottom: 47px;
    }

    &__feedback {
      position: absolute;
      top: 76px;
      right: 0;
      width: 170px;
      z-index: 10;
      font-size: 17px;
    }

    &__btns-layout {
      position: absolute;
      right: 0;
      bottom: 47px;
      display: flex;
      width: 175px;
      margin-bottom: 0;
      z-index: 10;
    }
    &::after {
      height: 15px;
    }
  }
}

@media @tablet-widths and (min-resolution: 144dpi), @tablet-widths and (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px auto;
  }
}

@media @desktop-widths {
  .reviews {
    margin-bottom: 75px;
    padding-bottom: 84px;
    background: @light;

    &__wrapper {
      padding-bottom: 100px;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 100%;
    }

    &__feedback {
      width: 174px;
      top: 85px;
    }

    &__btns-layout {
      bottom: 104px;
    }

    &::after {
      height: 23px;
    }
  }
}

@media @desktop-widths and (min-resolution: 144dpi), @desktop-widths and (min-resolution: 1.5dppx) {
  .reviews__wrapper {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px auto;
  }
}
