.social-link {
  display: block;
  width: 60px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid green;

  &--inst {
    background-image: url("../img/icon-insta.svg");
  }

  &--fb {
    background-image: url("../img/icon-fb.svg");
  }

  &--tw {
    background-image: url("../img/icon-twitter.svg");
  }
}
