.social-link {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;

  &--inst {
    background-image: url("../img/icon-insta.svg");
  }

  &--fb {
    background-image: url("../img/icon-fb.svg");
  }

  &--tw {
    background-image: url("../img/icon-twitter.svg");
  }
}