.video {
  margin-bottom: 66px;
  color: @main;

  &__layout {
    border: 1px solid #cecece;

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px 0 @main01;
    }

    &:active {
      box-shadow: 0 3px 5px 0 @main01;
    }
  }

  &__container {
    height: 150px;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    background: url("../img/video-mobile@1x.jpg") no-repeat center;
  }

  &__wrapper {
    margin: 25px 13.692% 25px 12.692%;
  }

  &__discr {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: @minor;
    background-color: @light;
  }
}

@media @mobile-widths-only and (min-resolution: 144dpi), @mobile-widths-only and (min-resolution: 1.5dppx) {
  .video__container {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

@media @tablet-widths {
  .video {
    margin-bottom: 63px;

    &__layout {
      display: flex;
      flex-direction: column;
    }

    &__container {
      order: -1;
      height: 455px;
      border-top: none;
      background-image: url("../img/video-tablet@1x.jpg");
    }

    &__wrapper {
      margin-top: 0;
      margin-bottom: 45px;
      margin-left: 6.288%;
      margin-right: 6.288%;
    }

    &__discr {
      margin-bottom: 33px;
      font-size: 15px;
      line-height: 30px;
    }
  }
}

@media @tablet-widths and (min-resolution: 144dpi), @tablet-widths and (min-resolution: 1.5dppx) {
  .video__container {
    background-image: url("../img/video-tablet@2x.jpg");
    background-size: 668px auto;
  }
}

@media @desktop-widths {
  .video {
    margin-bottom: 105px;

    &__layout {
      position: relative;
      box-sizing: border-box;
      min-height: 455px;
      padding-left: 700px;
    }

    &__container {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 680px;
      height: 455px;
      border-bottom: none;
      border-right: 1px solid #cecece;
      background-image: url("../img/video-desktop@1x.jpg");
    }

    &__wrapper {
      margin-left: 61px;
      margin-right: 58px;
    }

    &__discr {
      margin-bottom: 45px;
    }
  }
}

@media @desktop-widths and (min-resolution: 144dpi), @desktop-widths and (min-resolution: 1.5dppx) {
  .video__container {
    background-image: url("../img/video-desktop@2x.jpg");
    background-size: 682px auto;
  }
}
