.video {
  margin: 30px 0;
  color: @main;
  background-color: @light;
  border: 1px solid #cecece;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 @main01;
  }

  &__container {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
  }

  &:active {
    box-shadow: 0 3px 5px 0 @main01;
  }

  &__discr {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: @minor;
    background-color: @light;
  }
}
