.week-popular {
  color: @minor;
  background-color: @light;

  &__discr {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  &__table {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-collapse: collapse;
  }

  &__parameter,
  &__value {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 0;
    padding-right: 30px;
    border-bottom: 1px solid @gray;
  }

  &__price {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }
}